<%- include('./shared/Header.ejs') %>
  <form action="/signup" method="post">
    <% if (messages.error) { %>
      <span><%= messages.error %></span>
    <% } %>
    <%- include('./components/Input.ejs', {
      type : "text",
      name: "username",
      value: "",
      required : true
    }) %>
    <%- include('./components/Input.ejs', {
      type : "email",
      name: "email",
      value: "",
      required : true
    }) %>
    <%- include('./components/Input.ejs', {
      type : "tel",
      name: "phone",
      value: "",
      required : true
    }) %>
    <%- include('./components/Input.ejs', {
      type : "password",
      name: "password",
      value: "",
      required : true
    }) %>
    <%- include('./components/Input.ejs', {
      type : "password",
      name: "confirmPassword",
      value: "",
      required : true
    }) %>

    <button type="submit">Connexion</button>
  </form>
<%- include('./shared/Footer.ejs') %>

